*{ margin:0; padding:0; box-sizing:border-box; }
html{ margin:0; }
body{ font-family: 'Catamaran', sans-serif; background:url('/images/bg2.jpg') #1c1d21 no-repeat center center fixed; background-size:cover; color:#eeeff7; font-size:15px; line-height:1.6; }

h1,h2,h3,h4,h5,h6{ margin:0 0 10px; }
h1{ font-size:28px; }
h2{ font-size:25px; }
h3{ font-size:22px; }
h4{ font-size:20px; }
h5{ font-size:18px; }
h6{ font-size:15px; }

p{ margin:0 0 10px; }
a{ color:#92cdcf; text-decoration:none; transition: color .15s ease-in; }
a:hover{ color:#bde3e4; }
ul{ list-style-position:inside; }
ul ul, ul ol, ol ol, ol ul{ margin:0 0 0 20px; }
section{ margin:0 0 20px; }
hr{ border:0; height:0; border-bottom:1px solid #31353d; margin:0 0 10px; }

.container{ max-width:1020px; margin:auto; }
.grid:after{ clear:both; content:""; display:table; }
.header{ padding:20px; }
.main-content{ padding:20px; background:#1c1d21; margin:0 0 40px; }

.main-nav{ margin:0 0 20px; padding:0 0 20px; border-bottom:1px solid #31353d; }
.main-nav ul{ list-style-type:none; }
.main-nav ul li{ float:left; margin:0 10px; }
.main-nav ul li a{ color:#eeeff7; text-decoration:none; text-transform:uppercase; font-size:12px; letter-spacing:1px; transition: color .15s ease-in; }
.main-nav ul li a:hover{ color:#92cdcf; }

.button, button, input[type=submit], input[type=button]{ color: #eeeff7; text-decoration:none; background:#31353d; border:0; display:inline-block; font-size:12px; line-height:1.6; cursor:pointer; text-transform:uppercase; padding:10px 20px; font-family: 'Catamaran', sans-serif; letter-spacing:1px; outline:none; transition: background .15s ease-in; }
.button-primary, input[type=submit].button-primary, input[type=button].button-primary{ background:#445878; }
.button:hover, button:hover, input[type=submit]:hover, input[type=button]:hover{ background:#373b44; color:inherit; }
.button-primary:hover, input[type=submit].button-primary:hover, input[type=button].button-primary:hover{ background:#4d6386; color:inherit; }


input, textarea, select, fieldset{ margin:0 0 10px; }
label{ display:block; }
input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"], textarea, select { width:100%; border:0; font-family: 'Catamaran', sans-serif; padding:5px 6px; font-size:15px; outline:none; height:40px; }
input:disabled, textarea:disabled, select:disabled{ background:#ccc; }

.right{ float:right; }
.left{ float:left; }
.clear{ clear:both; }
.full-width{ width:100%; }
.align-right{ text-align:right; }
.no-margin{ margin:0; }

table{ border-collapse:collapse; }
th, td{ text-align:left; padding:6px 5px; border-bottom:1px solid #31353d; }

.alert{ padding:10px; background:#31353d; margin:0 0 20px; }
.alert ul{ list-style-type:none; }
.alert-danger{ border-left:3px solid #d00000; }

.pagination{ list-style-type:none; }
.pagination li{ float:left; margin:0 0 0 10px; }

.column, .columns { width:100%; float:left; }

.post-title{ display:inline-block; margin:0; }
.post-author{ display:inline-block; margin:0; }

.item-poor, .item-poor:hover{ color:#9d9d9d; }
.item-common, .item-common:hover{ color:#fff; }
.item-uncommon, .item-uncommon:hover{ color:#1EFF00; }
.item-rare, .item-rare:hover{ color:#0070dd; }
.item-epic, .item-epic:hover{ color:#a335ee; }
.item-legendary, .item-legendary:hover{ color:#ff8000; }
.item-artifact, .item-artifact:hover{ color:#e5cc80; }
.item-heirloom, .item-heirloom:hover{ color:#e5cc80; }

.item-icon{ float:left; margin:0 20px 0 0; position:relative; }
.item-stacks{ position:absolute; bottom:8px; right:8px; font-size:18px; font-weight:bold; text-shadow:1px 1px 3px #000; }
.item-content{ float:left; width:310px; line-height:1.4; }
.item-name{ font-size:18px; }
.item-spell{ color:#1EFF00; }
.item-description{ color:#ffd100; }
.item-required-faction{ color:#FF4040; }
.item-price-gold{ background:url('/images/money_gold.gif') no-repeat right 6px; padding:0 15px 0 0; }
.item-price-silver{ background:url('/images/money_silver.gif') no-repeat right 6px; padding:0 15px 0 5px; }
.item-price-copper{ background:url('/images/money_copper.gif') no-repeat right 6px; padding:0 15px 0 5px; }

.item-class-warrior{ color:#C69B6D; }
.item-class-paladin{ color:#F48CBA; }
.item-class-hunter{ color:#AAD372; }
.item-class-rogue{ color:#FFF468; }
.item-class-shaman{ color:#2359FF; }
.item-class-mage{ color:#68CCEF; }
.item-class-druid{ color:#FF7C0A; }
.item-class-warlock{ color:#9382C9; }
.item-class-priest{ color:#FFF; }

.item-tooltip{ float:left; }
.item-info{ float:right; width:200px; }

@media (min-width: 550px) {
	.column,
	.columns { margin-left: 4%; }
	.column:first-child, .columns:first-child { margin-left: 0; }

	.one.column, .one.columns { width: 4.66666666667%; }
	.two.columns { width: 13.3333333333%; }
	.three.columns { width: 22%; }
	.four.columns { width: 30.6666666667%; }
	.five.columns { width: 39.3333333333%; }
	.six.columns { width: 48%; }
	.seven.columns { width: 56.6666666667%; }
	.eight.columns { width: 65.3333333333%; }
	.nine.columns { width: 74.0%; }
	.ten.columns { width: 82.6666666667%; }
	.eleven.columns { width: 91.3333333333%; }
	.twelve.columns { width: 100%; margin-left: 0; }
	
	.one-third.column { width: 30.6666666667%; }
	.two-thirds.column { width: 65.3333333333%; }
	.one-half.column { width: 48%; }
	
	.offset-by-one.column, .offset-by-one.columns { margin-left: 8.66666666667%; }
	.offset-by-two.column, .offset-by-two.columns { margin-left: 17.3333333333%; }
	.offset-by-three.column, .offset-by-three.columns { margin-left: 26%; }
	.offset-by-four.column, .offset-by-four.columns { margin-left: 34.6666666667%; }
	.offset-by-five.column, .offset-by-five.columns { margin-left: 43.3333333333%; }
	.offset-by-six.column, .offset-by-six.columns { margin-left: 52%;}
	.offset-by-seven.column, .offset-by-seven.columns { margin-left: 60.6666666667%; }
	.offset-by-eight.column, .offset-by-eight.columns { margin-left: 69.3333333333%; }
	.offset-by-nine.column, .offset-by-nine.columns { margin-left: 78.0%; }
	.offset-by-ten.column, .offset-by-ten.columns { margin-left: 86.6666666667%; }
	.offset-by-eleven.column, .offset-by-eleven.columns { margin-left: 95.3333333333%; }

	.offset-by-one-third.column, .offset-by-one-third.columns { margin-left: 34.6666666667%; }
	.offset-by-two-thirds.column, .offset-by-two-thirds.columns { margin-left: 69.3333333333%; }

	.offset-by-one-half.column, .offset-by-one-half.columns { margin-left: 52%; }

}

/* Larger than mobile */
@media (max-width: 400px) {}

/* Larger than phablet */
@media (max-width: 550px) {}

/* Larger than tablet */
@media (max-width: 750px) {}

/* Larger than desktop */
@media (max-width: 1000px) {}

/* Larger than Desktop HD */
@media (max-width: 1200px) {}